
DAEMON_LIST = MASTER, STARTD

CONDOR_HOST = flock.opensciencegrid.org
USE_CCB = True
CCB_ADDRESS = $(CONDOR_HOST):$RANDOM_INTEGER(9700,9899)

FILESYSTEM_DOMAIN = $(HOSTNAME)
UID_DOMAIN = $(HOSTNAME)

LOCAL_DIR=/tmp/condor_local
SPOOL = $(LOCAL_DIR)/spool
LOG = $(LOCAL_DIR)/log

USER_JOB_WRAPPER = /usr/sbin/osgvo-user-job-wrapper

STARTD_CRON_JOBLIST = $(STARTD_CRON_JOBLIST) osgvo
STARTD_CRON_osgvo_EXECUTABLE = /usr/sbin/osgvo-node-advertise
STARTD_CRON_osgvo_PERIOD = 4m
STARTD_CRON_osgvo_MODE = periodic
STARTD_CRON_osgvo_RECONFIG = false
STARTD_CRON_osgvo_KILL = true
STARTD_CRON_osgvo_ARGS =

SEC_DEFAULT_AUTHENTICATION_METHODS = TOKEN,FS
SEC_CLIENT_AUTHENTICATION_METHODS = TOKEN,FS

STARTD_DEBUG = D_FULLDEBUG | D_SECURITY

# dynamic slots
SLOT_TYPE_1 = cpus=100%,disk=100%,swap=100%
SLOT_TYPE_1_PARTITIONABLE = TRUE
SLOT_TYPE_1_CONSUMPTION_POLICY = True
SLOT_TYPE_1_CONSUMPTION_DISK = 1.1 * TARGET.RequestDisk
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1

# make it look like a gwms glidein
GLIDEIN_Country = "US"
GLIDEIN_Site = "ISI"
GLIDEIN_ResourceName = "ISI"



